<a href="https://colab.research.google.com/github/ozlemizgi/data_e/blob/main/Heart5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**KALP HASTALIĞI- MENDELEY DATA LİNKİ**: https://data.mendeley.com/datasets/65gxgy2nmg/2

**FEATURE DESCRIPTION**
- ID: Numara
-Age: Yaş
-Gender: Cinsiyet (1:kadın , 0: erkek)
-Impluse: Nabız
-Pressurehight: Basınç yüksekliği
-Pressurelow: Düşük Basınç
-Glucose: Kan şekeri
-KCM:(CK_MB)kreatin kinaz miyokard bandı (kandaki kreatin kinaz değerini ölçer)
-Troponin: Troponin testi
-class: sınıf 
(pozitif:kalp krizinin olduğunu ; negatif:kalp krizinin olmadığını gösterir.)

In [5]:
# Kütüphanelerin Çağırılması
import numpy as np
import pandas as pd

from sklearn import preprocessing

import seaborn as sns
sns.set()

import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
# Veriyi okumadan önce Sütun isimlerini içerisinde barındıran bir liste oluşturduk, kendi istediğimiz gibi isimlendirdik.
features = ["id" , "age" , "gender", "impluse" , "pressurehight" , "pressurelow" , "glucose" , "kcm" , "troponin" , "glass"]

# Veriyi okurken names= features diyerek kendi veridiğimiz isimlere göre okuması için komut verdik.
heart = pd.read_csv("https://raw.githubusercontent.com/ozlemizgi/data_heartmedical/main/csv_result-Medicaldataset.csv", names= features, header=0)
heart.sample(9)

,id,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,glass
886,887,35,1,70,117,76,111.0,2.16,0.003,negative
474,475,41,1,86,113,68,100.0,4.58,0.003,negative
1103,1104,55,0,60,97,44,98.0,2.55,0.010,negative
1068,1069,48,1,83,150,94,98.0,2.04,0.010,negative
898,899,60,1,68,116,74,85.0,1.73,1.750,positive
669,670,60,1,61,160,95,294.0,2.68,0.005,negative
543,544,60,1,70,120,55,82.0,4.49,0.037,positive
720,721,49,1,105,128,80,216.0,11.64,0.851,positive
1153,1154,70,0,73,85,44,96.0,2.02,5.110,positive

In [29]:
# Verisetindeki kalp krizi ile ilgili inceleme dışında kalacak ID sütunlarını veri setinden kaldıralım.
# Bunun için .drop() komutunu kullanırız.
heart = heart.drop(["kcm" , "glucose"], axis=1)
heart.sample(9)

,id,age,gender,impluse,pressurehight,pressurelow,troponin,glass
235,236,60,1,53,102,61,0.816,positive
960,961,47,0,85,138,98,0.880,positive
349,350,62,1,103,115,85,2.420,positive
341,342,50,0,55,109,76,0.008,positive
219,220,67,0,84,118,68,0.007,negative
258,259,62,1,71,140,71,0.004,negative
620,621,70,1,74,156,74,0.122,positive
1263,1264,28,0,86,165,83,0.004,negative
826,827,47,0,67,113,82,0.003,negative

In [30]:
# Veri setinin boyutları
print("Satır:", heart.shape[0], '\t', "Sütun:", heart.shape[1])

# bir Satır boşluk bırak
print("-"*80)

# Veri setinin sütun isimleri
print(heart.columns)

Satır: 1319 	 Sütun: 8
--------------------------------------------------------------------------------
Index(['id', 'age', 'gender', 'impluse', 'pressurehight', 'pressurelow',
       'troponin', 'glass'],
      dtype='object')

In [31]:
# Veriseti hakkında genel bilgi 
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1319 non-null   int64
 1   age            1319 non-null   int64
 2   gender         1319 non-null   int64
 3   impluse        1319 non-null   int64
 4   pressurehight  1319 non-null   int64
 5   pressurelow    1319 non-null   int64
 6   troponin       1319 non-null   float64
 7   glass          1319 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 82.6+ KB

In [33]:
heart.sample(5)

,id,age,gender,impluse,pressurehight,pressurelow,troponin,glass
1044,1045,29,1,62,91,50,0.003,negative
982,983,60,0,75,125,73,0.003,positive
172,173,75,1,71,144,74,0.013,negative
944,945,33,1,87,101,45,0.006,negative
1048,1049,68,1,97,105,80,10.000,positive

In [34]:
heart["glass"].value_counts()

positive    810
negative    509
Name: glass, dtype: int64

**glass**
- 0 : pozitive , 1 : negative

**gender**
- 1 : F , 0 : M

In [40]:
# replace() : verileri değiştirmek için kullanırız.
heart = heart.replace({'glass': {"positive": 0, "negative": 1, }})
heart.sample(12)

        id  age  gender  impluse  pressurehight  pressurelow  troponin  glass
873    874   65       1       88            119           66     0.014      1
277    278   38       1       90            120           68     0.003      0
151    152   55       1       92             71           93     0.009      1
975    976   63       1      101            142           96     0.011      1
258    259   62       1       71            140           71     0.004      1
465    466   63       1       66            179           86     0.004      0
1251  1252   60       1       64            109           60     0.006      0
711    712   47       1       57            140           52     0.008      0
785    786   75       0       81            121           83     0.179      0
1086  1087   48       0       61            124           62     0.004      1
1157  1158   41       1       89             87           53     0.003      1
145    146   53       0       77            105           58     0.009      1

In [41]:
heart.info

<bound method DataFrame.info of         id  age  gender  impluse  pressurehight  pressurelow  troponin  glass
0        1   64       1       66            160           83     0.012      1
1        2   21       1       94             98           46     1.060      0
2        3   55       1       64            160           77     0.003      1
3        4   64       1       70            120           55     0.122      0
4        5   55       1       64            112           65     0.003      1
...    ...  ...     ...      ...            ...          ...       ...    ...
1314  1315   44       1       94            122           67     0.006      1
1315  1316   66       1       84            125           55     0.172      0
1316  1317   45       1       85            168          104     4.250      0
1317  1318   54       1       58            117           68     0.359      0
1318  1319   51       1       94            157           79     1.770      0

[1319 rows x 8 columns]>

In [42]:
# Veriyi istatistiksel açıdan inceleyelim.
heart.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1319.0,660.000000,380.906813,1.000,330.500,660.000,989.5000,1319.0
age,1319.0,56.191812,13.647315,14.000,47.000,58.000,65.0000,103.0
gender,1319.0,0.659591,0.474027,0.000,0.000,1.000,1.0000,1.0
impluse,1319.0,78.336619,51.630270,20.000,64.000,74.000,85.0000,1111.0
pressurehight,1319.0,127.170584,26.122720,42.000,110.000,124.000,143.0000,223.0
pressurelow,1319.0,72.269143,14.033924,38.000,62.000,72.000,81.0000,154.0
troponin,1319.0,0.360942,1.154568,0.001,0.006,0.014,0.0855,10.3
glass,1319.0,0.385898,0.486991,0.000,0.000,0.000,1.0000,1.0

In [43]:
# isnull() komutu sütunlardaki eksik değer sayısını sayar. sum() komutu ise toplam ifadesidir.  
heart.isnull().sum()

id               0
age              0
gender           0
impluse          0
pressurehight    0
pressurelow      0
troponin         0
glass            0
dtype: int64

(eksik veri olmadığı için bir sonraki kodu yapamadım)